<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao <%= @nome %>,</p>
    <p>
      la tua richiesta di certificato &egrave; stata ricevuta. Ti verr&egrave; inviata una mail quando il tuo certificato sar&agrave; disponibile per il download.
    </p>
  </body>
</html>
