<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Gentile <%= @nome %></p>
    <p>
      la tua richiesta di Certificato <%= @certificato %><%= @intestatario %> &egrave; stata ricevuta. Ti verr&agrave; inviata una mail quando il tuo certificato sar&agrave; disponibile per il download.
    </p>
    <hr>
    <p>Cordiali saluti<br>
  </body>
</html>
