<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao <%= @nome %>,</p>
    <p>
      il Certificato <%= @certificato %> che hai richiesto &egrave; ora disponibile per il download. Accedi al Portale del Cittadino ed utilizza il servizio Demografici per effettuare il pagamento e scaricare il tuo certificato.
    </p>
  </body>
</html>
