<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao <%= @nome %>,</p>
    <p>
      si &egrave; verificato un errore durante l'emissione del Certificato <%= @certificato %> che hai richiesto. Il certificato non &egrave; emettibile. Per ulteriori informazioni contatta lo sportello Demografici.
    </p>
  </body>
</html>
