<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Gentile <%= @nome %>,</p>
    <p>la tua richiesta di Certificato <%= @certificato %><%= @intestatario %> &egrave; stata inviata.</p>
    <p>L'emissione del certificato potrebbe richiedere qualche minuto. Riceverai una mail non appena sar&agrave; disponibile.</p>
    <p>Per visualizzare in tempo reale lo stato della richiesta nonch&egrave; scaricare il certificato quando disponibile, puoi ricaricare la pagina dove hai eseguito la richiesta.</p>
    <hr>
    <p>Cordiali saluti<br>
  </body>
</html>
